body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex:1;
    list-style: none;
    color: #e5e7eb;
    padding-inline-start: 0;
    gap: 16px;
    padding: 8px;
    margin: 8px;
}

header{
    font-size: 24px;
    padding: 8px;
    color: #F9faf8;
}

img{
    max-width: 250px;
}


.head{
    display: flex;
    flex:1;
    background-color: #1F2937;
}

#top{
    display: flex;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.hello{
    display: flex;
    flex-direction: row;
}

#bighero{
    font-size: 48px;
    color: #F9faf8;
    font-weight: 900;
}

#lilhero{
    font-size: 18px;
    color: #e5e7eb;
}

.info{
    text-align: center;
}

#infohead{
    margin-bottom: 32px;
}

#images{
    display: flex;
    justify-content: center;
    align-items:start;
    gap: 100px;
    
}

#cards{
    max-width: 300px;
}

.quote{
    background-color: #e5e7eb;

}

#quotetext{
    font-size: 36px;
    font-style:italic;
    color:#1F2937
}

button,
.action{
    background-color: #3882f6;
}

#infohead{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
